@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<div class="FlexboxError">
    <div class="FlexboxErrorContent">
        <div class="FLexBoxError-image FLexBoxError-image1"></div>
        <p>Something went wrong, sorry for the inconvience!
        Try again later.</p>
    </div>
</div>
