@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<body>

	<div class="FlexboxHome">
		<div class="FlexboxHomeContent">
			<p>
				<h1>
					View and join tournaments
				</h1>
				<h3>Supported by DuelSys</h3>
			</p>
		</div>
	</div>

	
</body>


